div {
    font-family: Arial;
}


.tweet-box {
    display: flex;
}

.profile-box {
    width: 80px;
}

.profile {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.tweet-info {
    width: 350px;
}


.name {
    display: flex;
    width: 100%;
    margin-bottom: 6px;
}

.tweet-name {
    font-weight: bold;
    margin-right: 5px;
}

.tweet-display-name {
    color: gray;
}

.tweet-messenge {
    margin-bottom: 15px;
}

.link-perview {
    display: flex;
    border: solid lightgray;
    border-width: 1.5px;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;

}

.sample {
    /* align-self: stretch;   */
    width: 100px;         
    height: 100px;
    /* min-height: 80px;  */
    background-color:lightgray;
    margin-right: 10px;
}

.link-info {
    flex: 1;
}

.link {
    margin-bottom: 10px;
    color: gray;
}

