.flex-box-row {
    display: flex;
    flex-direction: row;

}

.flex-box-left {
    background-color: lightblue;
    width: 50px;
}

.flex-box-middle {
    background-color: lightpink;
    flex: 1;
}

.flex-box-right {
    background-color: lightblue;
    width: 75px;
}